doctype html
html.no-js(lang='en-US')
	head
		title Niels Oeltjen
		//- base(href='http://www.nielsoeltjen.com/')
		
		meta(http-equiv='Content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, user-scalable=no')
		meta(http-equiv='cleartype', content='on')
		meta(charset="utf-8") 

		//- Facebook Open Graph Meta Tags 
		meta(property='og:title', content='Niels Oeltjen')
		meta(property='og:type', content='website')
		meta(property='og:url', content='http://www.nielsoeltjen.com/')
		meta(property='og:image' content='http://www.nielsoeltjen.com/assets/niels-oeltjen-og-image.png')


		//- Language 
		meta(name='DC.Language', content='en')

		//- Icons 
		link(rel='shortcut icon', href='assets/favicon.ico')
		//- link(rel='apple-touch-icon', href='assets/touch-icon-iphone.png')
		//- link(rel='apple-touch-icon', sizes='76x76', href='assets/favicon-76.png')
		//- link(rel='apple-touch-icon', sizes='120x120', href='assets/favicon-120.png')
		//- link(rel='apple-touch-icon', sizes='152x152', href='assets/favicon-152.png')

		//- Resources
		script
			include inline/head.js
			include inline/analytics.js
			include inline/script.js
		style
			include inline/screen.css
			

	body(dir='ltr')
		<!--[if lt IE 9]>
		<div class="IE-warning">
		<p>Oh gawsh! IE huh? This site doesn't support browsers released before 2010.</p>
		</div>
		<link media="screen" rel="stylesheet" type="text/css" href="assets/ie.css" />
		<![endif]-->
			

		//- Links

		//- Render svg
		svg(xmlns='http://www.w3.org/2000/svg', style='display: none;')
			include svg/icon-about.svg
			include svg/icon-art.svg
			include svg/icon-behance.svg
			include svg/icon-codepen.svg
			include svg/icon-digital.svg
			include svg/icon-dribbble.svg
			include svg/icon-ello.svg
			include svg/icon-email.svg
			include svg/icon-github.svg
			include svg/icon-instagram.svg
			include svg/icon-twitter.svg

		div#oeltjen
			include svg/oeltjen.svg		

		ul#items
			each link, name in items
				li(class=name)
					a(href=link[1], target="_blank", id="link-"+name)
						span
							i= link[0]
							b 
								svg.icon
									use(xlink:href='#icon-'+name)

		div#about
			div.close
				a#close-about(href="#") &times;
			div.inner
				p 
					b h1
					span Niels Oeltjen
				p 
					b h2
					span A.K.A Nails
				p 
					b p
					span Artist and Digital Maker
				p 
					b p
					span Links to various creative projects and places of interest
				p 
					b p
					span I used to make street art dintchaknow?
							
						
